.header {
    background-color: var(--color-p);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(150, 150, 255, 0.3), 0 4px 16px rgba(255, 182, 193, 0.2);
    padding: 0px 40px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    margin: 0px 10px;
    color: var(--black);
    font-weight: 200;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}