.Button {
    text-decoration: none;
    color: var(--black);
    padding: 20px 35px;
    display: flex;
    align-items: center;
    background-color: var(--color-p);
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.Button:hover {
    background-color: var(--color-s);
    cursor: pointer;
}
