@font-face {
  font-family: 'KiddosyFreeRegular';
  src:
  /* url('./assets/fonts/KiddosyfreeRegular-GOEag.woff2') format('woff2'), */
       url('./assets/fonts/KiddosyfreeRegular-GOEag.otf') format('opentype');
  font-style: normal;
}

:root {
  font-family: 'KiddosyFreeRegular';
  --color-p: #FF8A8A;
  --color-s: #F4DEB3;
  --black: #201e1e;
}
input {
  font-family: 'KiddosyFreeRegular';
}
button{
  font-family: 'KiddosyFreeRegular';
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-p);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-p);
}
